# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data pesada o sensible
data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Archivos temporales
*.log
*.tmp
*.bak

# Entornos
.env
.env.local

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Modelos entrenados pesados
*.pkl
*.joblib
*.h5
*.pt
*.onnx
models_artifacts/
